[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt5 = "*"
qtawesome = "*"
requests = "*"
cryptography = "==2.5"
ipdb = "*"
datetime = "*"
pandas = "*"
pyqtchart = "*"
websocket-client = "*"
pyqt5-stubs = "*"

[requires]
python_version = "3.7"
