QTableWidget {
    height: 14px;
    padding: 0px;
    border-style: none;
    margin: 1px;
}

/*
QTableWidget::item {
    height: 14px;
    min-height: 14px;
    max-height: 14px;
    padding: 6px;
    border-style: none;
    border-width: 0px;
    margin: 1px;
}
*/

QHeaderView::section {
    background: rgb(48, 54, 68);
    color: #f8f9fa;
    padding: 6px;
}

QHeaderView::section:horizontal {
    height: 1.2em;
}

QHeaderView::section:vertical {
    height: 1.2em;
}

QTableWidgetItem {
    border-style: outset;
    border: 0px solid darkgray;
    padding: 6px;
}
